<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SDET Case study - 1">

	<listeners>
		<listener class-name="org.example.extent_report_listener.ExtentReporterNG" />
	</listeners>

	<test name="SDET Case study - 1">
		<!-- Test Runner Class -->
		<classes>
			<class name="org.example.testcases.TestRegisterPage"></class>
		</classes><!-- Classes -->

	</test> <!-- Test -->
</suite> <!-- Suite -->
